<h1>Who is your favorite student or admin and why?</h1>
<h2>All entries will be anonymous</h1>
<form action="/favorites" method="POST">
<input type="text" name="student[person]" placeholder="Person's name (Required)">
<input type="text" name="student[comment]" placeholder="Why this person? (Optional)">
</form>