<form action="/favorites/<%= @favorite.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="band">Name</label>
<input type="text" value="<%= @favorite.band %>" id="band" name="student[band]">
<label for="content">Description</label>
<input type="text" value="<%= @favorite.comment %>" id="comment" name="student[comment]">
<input type="submit" value="submit">
</form>