<h1>List of favorite bands</h1>
<ol>
<% @favorites.each do |favorite| %>
<p><li><strong><%= favorite.band %></strong> 
    
    <% if favorite.comment %>
        <em>Reason Why:</em> 
        <%= favorite.comment %></li></p>
    <% end %>
<% end %>
</ol>