<h1>List of favorite bands</h1>
<ol>
<% @favorites.each do |favorite| %>
<li><strong><%= favorite.band %></strong> 
    
    <% if favorite.comment %>
        <em>Reason Why:</em> 
        <%= favorite.comment %>
    <% end %>
    
    <a href="/favorites/<%= favorite.id %>/edit">edit</a></li>
<% end %>

</ol>