<form action="/students" method="POST">

<label for="first_name">First Name</labl>
<input type="text" id="first_name" name="name[first]">
<label for="last_name">Last Name</label>
<input type="text" id="last_name" name="name[last]">
<p><label for="username">Username</label>
<input type="text" id="username" name="username"></p>
<p><label for="house">House ID</label>
<input type="text" id="house" name="house[number]"</p>
<p><label for="password">Password</label>
<input type="text" name="password"></p>
<p><label for="re_password">Re-enter Password</label>
<input type="text" id="re_password" name="password"></p>
<p><input type="submit" id="submit"></p>
</form> 
