<% if session[:message] %>
  <p><h1><i><%= session[:message] %><i></h1></p>
<% end %>
<% if flash.has?(:message) %>
  <p><h1><i><%= flash[:message] %><i></h1></p>
<% end %>
<form action="/students" method="POST">
<label for="first_name">First Name: </labl>
<input type="text" id="first_name" name="first">
<label for="last_name">Last Name: </label>
<input type="text" id="last_name" name="last">
<p><label for="username">Username: </label>
<input type="text" id="username" name="username"></p>
<p><label for="gryffindor">Gryffindor</label>
<input type="checkbox" id="gryffindor" name="house" value="1">
<label for="hufflepuff">Hufflepuff</label>
<input type="checkbox" id="hufflepuff" name="house" value="2"></p>
<p><label for="ravenclaw">Ravenclaw</label>
<input type="checkbox" id="ravenclaw" name="house" value="3">
<label for="slytherin">Slytherin</label>
<input type="checkbox" id="slytherin" name="house" value="4"</p>
<p><label for="password">Password: </label>
<input type="password" name="password"></p>
<p><input type="Submit" value="submit"></p>
</form> 

