<form action="/students/#{@student.id}" method="POST">
<p><label for="username">Username</"label">
<input type="text" name="username" id="username" value="#{@student.username}>"</p>
<input type="submit" value="Edit Profile"</p>
</form>