<h2>Welcome to Hogwartz <% if logged_in? %>
    <strong><%=current_student.username %></strong>
  <% else %>
  <nav>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
    
  <% end %>
!!!</h2> 
</nav>
