<!doctype html>
<html>
  <head>
    <title>HOGWARTS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<h1>WELCOME TO HOGWARTS</h1>
<ul>
<% if logged_in? %>
<li><a href="/students/<%= session[:student_id] %>">show profile</a></li>
<li><a href="/students/<%= session[:student_id] %>/edit">edit profile</a></li>
<li><a href="/favorites/new">new favorite band!</a></li>
<li><a href="/favorites/me">my favorite bands!</a></li>
<li><a href="/logout"> logout </a></li>
<% else %>
<li><a href="/signup">signup</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout"> logout </a></li>
<% end %>
</ul>

 <div class="container">
 
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
