<!doctype html>
<html>
  <head>
    <title>HOGWARTS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<h1>WELCOME TO HOGWARTS STUDENT</h1>
<ul>
<li>signup: <a href="/signup"></a></li>
<li>login:<a href="/login"></a></li>
<li>go directly to house:<a href="/gryffindore"></a></li>
</ul>

 <div class="container">
 
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
